html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

.container {
	height: 100%;
	width: 900px;
	display: grid;
	grid-template: "side main" auto / 300px auto;
	margin: 0 auto;
}

.action-menu {
	grid-area: side;
}

.post-wrapper {
	padding: 1rem;
	border: 1px solid black;
	margin: 2rem 0;
	width: 100%;
	max-width: 800px;
}

.post-wrapper a {
	display: inline-block;
	border-bottom: 1px solid #00f;
	color: #00f;
	cursor: pointer;
}

.post-wrapper a:hover {
	border-bottom: 0;
}

.post h1 {
	font-size: 2.5rem;
	margin: 0;
}

.post h2 {
	font-weight: normal;
	margin-top: 0;
}

.comments {
	margin-top: 2.5rem;
}

.comments h5 {
	border-top: 1px solid black;
	padding-top: 2px;
	font-size: 1rem;
}

.action-menu {
	margin-right: 1rem;
}

.action-menu textarea {
	width: 100%;
	height: 5rem;
}

.action-menu h3 {
	margin-bottom: 0;
}

.action-menu .row label {
	margin-right: 0.5rem;
	font-weight: bold;
}

.action-menu input {
	width: auto;
}

.action-menu div {
	margin: 1rem 0;
}

form input:not([type="submit"]) {
	font-family: monospace;
}

form input[type="submit"] {
	border-radius: 0;
	padding: 5px;
	font-size: 0.9rem;
	background: transparent;
}

.comment-author {
	font-weight: bold;
}
